
# Godot-specific ignores
bin/*
.import/*
export.cfg
export_presets.cfg
godot-cpp/*
godot-cpp
api.json

# Mono-specific ignores
.mono/
.idea/
.vscode/
.godot/
.import/

# C++ Projects
src/**/*.obj
src/Legacy/poly2tri/**/*.obj
obj/*
.kdev/*
*.kdev
*.kdev4
*.kate-swp
*.cbp
*.layout
*.dblite
*.os
core
.vscode/*